@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  /* background: #04032c; */
  background: #1a1a1a;
  width: 100%;
  margin: 0 auto;
}
/* #upper {
      position: fixed;
      background: #04033c;
      width: 100%;
      height: 24vh;
      margin: 0 0px;
      box-shadow: -0.5px -0.5px 5px grey;
      opacity: 0.71;
         } */
.navbar {
  display: flex;
  color: white;
  align-items: center;
  background: black;
  margin-bottom: 10px;
  /* opacity: 0.7; */
  box-shadow: 0.5px 0.5px 5px white;
  /* justify-content: center; */
}
#menu {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  color: white;
  list-style: none;
  /* margin-left: 500px; */
  float: right;
  background: black;
  /* width: 125px; */
  border: 1px solid white;
  overflow: hidden;
  font-size: 28px;
  box-shadow: 0.5px 0.5px 5px white;
}
#menu li {
  border: 2px solid white;
  width: 120px;
  text-align: center;
  padding: 5px;
}
#menu li a {
  color: white;
  font-style: normal;
  text-decoration: none;
}
#menu li a:hover {
  color: blue;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  background: white;
  width: 138px;
  height: 40px;
  margin: 20px;
  padding: 2px;
}
.hlogo {
  font-size: 25px;
  font-style: bold;
  border: 5px solid white;
  background: orange;
  border-radius: 10px 20px;
  padding: 1px;
  font-family: 'Aboreto', cursive;
}
/* .hlogo snap{
      color: gray;
      font-style: bold;
    } */
#dph {
  height: 70px;
  width: 70px;
  border: 5px solid white;
  border-radius: 100%;
  background: orange;
  margin: 2px;
  position: relative;
}
#menuimg {
  height: 35px;
  width: 40px;
}
#toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 730px;
  float: right;
  position: static;
  overflow: hidden;
  border: 2px solid gray;
}

.footer {
  background: #04033c;
  color: black;
  display: flex;
  color: white;
  margin: 2px 2px;
  box-shadow: -0.5px -0.5px 5px grey;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: sticky;
}
.dp {
  height: 80px;
  width: 80px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background: #04033c;
  font-size: 40px;
  margin: 5px;
  margin-top: 70px;
  margin-bottom: 20px;
  border: 2px solid white;
  height: 450px;
  border-radius: 18px;
}
#project{
  height: 750px;
  padding: 2px;
}
#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background: #04033c;
  padding: 2px;
  height: 200px;
  margin-top: 100px;
  margin: 5px;
  border: 2px solid white;
  border-radius: 18px;
}
/*.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  background: white;
}*/

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#social-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
   font-size: 35px; 
}
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.f11, .f22{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fa {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(167, 146, 129, 0.6);
  background: black;
  width: 50px;
  height: 45px;
  line-height: 50px;
  padding: 1%;
  border: 1px solid rgba(167, 146, 129, 0.4);
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: ease .3s;
}
  .fa: hover {
  color: rgba(167, 146, 129, 1);
  border: 1px solid rgba(167, 146, 129, 1);
}


.social:hover > li {
opacity: 0.5;
}

.social:hover > li:hover {
opacity: 1;
}
/* @media only screen and (max-width: 768px) {
  For Mobile
  .menu{
    margin-left: 250px;
  }
} */
@media (min-width: 320px) and (max-width: 480px) {
#dph {
height: 70px;
width: 70px;
border: 5px solid white;
border-radius: 100%;
background: orange;
margin: 2px;
position: relative;
}
#menu {
display: flex;
/* flex-direction: column; */
align-items: center;
justify-content: center;
color: white;
list-style: none;
/* margin-left: 230px; */
float: right;
background: black;
/* width: 125px; */
font-size: 22.8px;
margin-bottom: 20px;
margin-top: 2px;
box-shadow: 0.5px 0.5px 5px white;
}
#menu li {
border: 0.6px solid white;
width: auto;
text-align: center;
padding: 5px;
}

#toggle {
margin-left: 120px;
}
#menuimg {
height: 32px;
width: 36px;
}
.main {
color: white;
margin-top: 10px;
overflow: hidden;
/* width: 200px; */
font-size: 23px;
height: 200px;
border: 2px solid white;
}
}
